<!-- Inner Page Breadcrumb -->
	<section class="inner_page_breadcrumb">
		<div class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="breadcrumb_content">
						<h2 class="breadcrumb_title">Contact Us</h2>
						<ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="#">Home</a></li>
					    <li class="breadcrumb-item active" aria-current="page"><a href="#">Contact Us</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>

  <!-- Our Contact -->
  <section class="our-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xl-3">
          <div class="contact_icon_box mb50">
            <div class="icon"><span class="flaticon-map"></span></div>
            <div class="details">
              <h5 class="title">OUR STORE</h5>
              <p>Collins Street West, Victoria<br> 8007, Australia.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="contact_icon_box mb50">
            <div class="icon"><span class="flaticon-phone-call"></span></div>
            <div class="details">
              <h5 class="title">HOTLINE</h5>
              <p>+ (315) 905-2321</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="contact_icon_box mb50">
            <div class="icon"><span class="flaticon-email"></span></div>
            <div class="details">
              <h5 class="title">EMAIL CONTACT</h5>
              <p>order@freshen.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="contact_icon_box mb50">
            <div class="icon"><span class="flaticon-wall-clock"></span></div>
            <div class="details">
              <h5 class="title">Working Hours</h5>
              <p>Mon-Fri: 8 AM - 5 PM<br>Sat-Sun: 8 AM - 2 PM</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Contact -->
  <section class="our-contact bgc-f5 p0">
    <div class="container-fluid p0">
      <div class="row">
        <div class="col-lg-7">
          <div class="h700" id="map-canvas"></div>
        </div>
        <div class="col-lg-5">
          <div class="form_grid">
            <div class="wrapper">
              <h3 class="mb30">Have Questions? Get in touch!</h3>
              <form class="contact_form" name="contact_form" action="#" method="post" novalidate>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-label">First Name</label>
                      <input class="form-control" type="text">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-label">Last Name</label>
                      <input class="form-control" type="text">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-label">Email</label>
                      <input class="form-control email" type="email">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-label">Phone</label>
                      <input class="form-control" type="text">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="form-label">Message</label>
                      <textarea name="form_message" class="form-control" rows="6"></textarea>
                    </div>
                    <div class="form-group mb0">
                      <button type="button" class="btn btn-thm">GET IN TOUCH</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>