@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if(@TempData["MsgCancelOrder"] != null)
{
@*   <p id="msgCancel"> @TempData["MsgCancelOrder"]</p>*@
    @section Scripts{
        <script type="text/javascript">
            $(function() {
               Swal.fire($("#msgCancel").text())
            })
        </script>
    }
}

<!-- Our Dashbord -->
	<section class="our-dashbord dashbord">
		<div class="container">
			<div class="row">
        <div class="col-lg-3 col-xl-3 dn-md">
          <div class="extra-dashboard-menu">
            <h3 class="mb25 ttu fwb">orders</h3>
            <div class="ed_menu_list">
              <ul>
                <li><a asp-action="Index" asp-controller="Customer" asp-area="Customer">Dashboard</a></li>
				<li><a asp-action="Order" asp-controller="Customer" asp-area="Customer">Orders History</a></li>
				<li>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "Customer" })">
                        <button style="padding:0;" id="logout" type="submit" class="nav-link btn btn-link">Logout</button>
                    </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
				<div class="col-lg-9 col-xl-9">
					<div class="row">
						<div class="col-lg-12">
							<div class="dashboard_navigationbar dn db-md mt50">
								<div class="dropdown">
									<button onclick="myFunction()" class="dropbtn"><i class="fa fa-bars pr10"></i> Dashboard Navigation</button>
									<ul id="myDropdown" class="dropdown-content">
                    <li><a href="page-dashboard.html">Dashboard</a></li>
                    <li><a class="active" href="page-dashboard-order.html">Orders</a></li>
                    <li><a href="page-dashboard-wish-list.html">Downloads</a></li>
                    <li><a href="page-dashboard-address.html">Addresses</a></li>
                    <li><a href="page-dashboard-account-details.html">Account Details</a></li>
                    <li><a href="page-dashboard-wish-list.html">Wishlist</a></li>
                    <li><a href="page-login.html">Logout</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
          <div class="row">
            <div class="col-lg-12">
              <div class="order_table">

                <table id="OrderDataTable" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Order</th>
                            <th>Date</th>
                            <th>Order Status</th>
                            <th>Payment Status</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Order</th>
                            <th>Date</th>
                            <th>Order Status</th>
                            <th>Payment Status</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>

              </div>
            </div>
          </div>
				</div>
			</div>
		</div>
	</section>
<a class="scrollToHome" href="#"><i class="fa fa-angle-up"></i></a>
