@model SuperMarket_Models.ViewModels.ProductVM



<div class="container" >

    <div>
        <select>
            <option>category</option>
            <option>sasd</option>
        </select>
        @*MODAL*@
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#product1">
  Launch demo modal1
</button>

<!-- Modal -->
<div class="modal fade" id="#product1" tabindex="-1" aria-labelledby="#product1Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="#product1Label">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        product 1
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

    </div>
    <div class="d-flex justify-content-center p-2 flex-row">
    <div  style="background-color:red;" class="col-md-4">
        ss
    </div>

    <div style="background-color:blue;" class="col-md-4">
     d
    </div>
 <div style="background-color:green;" class="col-md-4">
  dg
    </div>

    </div>

</div>