@model SuperMarket_Models.ViewModels.ShoppingCartVM
@using Microsoft.Extensions.Options
@inject IOptions<SuperMarket_Utility.StripeSettings> Stripe


<!-- Shop Checkouts Content -->
<section class="shop-checkouts">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xl-8">
                <div class="checkout_form style2">
                    <h4 class="title mb40">Shipping Details</h4>
                    <div class="checkout_coupon ui_kit_button">

                        <div class="checkout_form mt30">
                            <div class="checkout_coupon">
                                @*khang coupon*@
                                <form class="df db-520">
                                    <input name="couponCode" id="couponField" class="form-control coupon_input" type="search" placeholder="Coupon code" aria-label="Search">
                                    <button id="applyCouponBtn" type="submit" class="btn btn2 btn-thm">Apply Coupon</button>
                                </form>
                                <br />
                               
                            </div>
                        </div>

                        <form class="form2" id="checkout_form" name="checkout_form" action="#" method="post">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Full name *</label>
                                        <input class="form-control form_control" style="padding-left:10px;" type="text" asp-for="Order.Name" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label">Country / Region *</label>
                                        <div class="checkout_country_form actegory">
                                            <select asp-for="Order.Country" class="custom_select_dd" id="selectbox_alCategory2" required>
                                                <option selected value="Vietnam">Viet Nam</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Street address *</label>
                                        <input asp-for="Order.Address" style="padding-left:10px;" class="form-control form_control mb10" type="text" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Town / City *</label>
                                         <input asp-for="Order.City" style="padding-left:10px;" class="form-control form_control mb10" type="text" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Phone *</label>
                                        <input style="padding-left:10px;" class="form-control form_control" type="text" asp-for="Order.Phone" required>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group mb0">
                                        <label class="ai_title">Order notes (optional)</label>
                                        <textarea name="form_message" style="padding-left:10px;" class="form-control" rows="12" placeholder=""></textarea>
                                    </div>
                                </div>
                            </div>

                            <input type="text" name="cpId" id="cpId" value="" readonly >

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="order_sidebar_widget mb30">
                    <h4 class="title">Your Order</h4>
                    <ul>
                        <li class="subtitle"><p>Product <span class="float-end">Subtotal</span></p> <hr></li>
                        @foreach (var item in Model.ListCart)
                        {
                            <li><p class="product_name_qnt">@item.Product.Title X @item.Count <span class="float-end">@((item.Product.Price * item.Count).ToString("c"))</span></p></li>
                        }
                        <li class="subtitle"><hr></li>
                        <li>
                            <div class="ui_kit_radiobox shopping_cart_radio_box">
                                <div class="radio">
                                    <label for="radio_one"><span class="car_for_shipping">Shipping</span></label>
                                </div>
                                <div class="radio">
                                    <label for="radio_two" style="padding-right:0;">Free shipping</label>
                                </div>
                            </div>
                        </li>
                          <li class="subtitle"><hr></li>

                          @*khang*@
                        <li class="subtitle"><p>Discount
                            <span id="discountValue" class="float-end totals text-thm"> 0 </span>
                                    </p></li>
                        <li class="subtitle"><hr></li>

                        @*khang*@
                        <li class="subtitle"><p>Total 
                                       <span id="orderTotalValue" class="float-end totals text-thm"> @(Model.Order.OrderTotal.ToString("c")) </span>
                                       </p></li>
                        <li class="subtitle"><hr></li>
                        

                    </ul>
                    <div class="ui_kit_radiobox checkout">
                        <div class="radio">
                            <input id="radio_seven" name="radio" type="radio" checked>
                            <label for="radio_seven"><span class="radio-label"></span> PayPal What is PayPal? <img src="/Asset/images//resource//payment.png" alt="payment.png"></label>
                        </div>
                    </div>
                    <div class="ui_kit_button payment_widget_btn">
                        <button type="submit" form="checkout_form" class="btn btn-thm btn-block">PLACE ORDER</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
