@model Product
@{
	ViewData["Title"] = "Product Details";
}
<h3>@ViewData["Title"]</h3>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<div class="row">
	<div class="col-md-4">
		<form asp-action="UpdateProduct" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="ProductId" />
			<div class="form-group">
				<label asp-for="ProductName" class="control-label"></label>
				<input asp-for="ProductName" class="form-control" />
				<span asp-validation-for="ProductName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Price" class="control-label"></label>
				<input asp-for="Price" class="form-control" />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FinalPrice" class="control-label"></label>
				<input asp-for="FinalPrice" class="form-control" />
				<span asp-validation-for="FinalPrice" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CreatedDate" class="control-label"></label>
				<input asp-for="CreatedDate" class="form-control" readonly />
				<span asp-validation-for="CreatedDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ManufactureDate" class="control-label"></label>
				<input asp-for="ManufactureDate" class="form-control" />
				<span asp-validation-for="ManufactureDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ExpiryDate" class="control-label"></label>
				<input asp-for="ExpiryDate" class="form-control" />
				<span asp-validation-for="ExpiryDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Weight" class="control-label"></label>
				<input asp-for="Weight" class="form-control" />
				<span asp-validation-for="Weight" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Brand_Category.Brand.BrandName" class="control-label"></label>
				<input asp-for="Brand_Category.Brand.BrandName" class="form-control" readonly />
				<span asp-validation-for="Brand_Category.Brand.BrandName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Brand_Category.Category.CategoryName" class="control-label"></label>
				<input asp-for="Brand_Category.Category.CategoryName" class="form-control" readonly />
				<span asp-validation-for="Brand_Category.Category.CategoryName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ImageProduct" class="control-label"></label>
				<input type="file" id="imgupload" name="file" style="display:none" />
				<img src="~/Asset/images/white-logo.png" id="OpenImgUpload" />
			</div>
			<div class="form-group">
				@foreach (Stock item in ViewBag.stockList)
				{
					<ol class="list-group list-group-numbered">
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
								<div class="fw-bold">@item.Branch.BranchName</div>
								@item.Branch.Address
							</div>
							<span class="badge bg-primary rounded-pill">Count:@item.Count</span>
						</li>
					</ol>
				}
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>
<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		
	</script>