@model List<Category>


@foreach (var item in Model)
{
	<li>
		<a href="#">
			<span><img src="@item.CategoryImg" width="30px" /></span>
			<span class="menu-title">@item.CategoryName</span>
		</a>
	</li>
}
