@model List<Category>


@foreach (var item in Model)
{
	<li>
		<a asp-action="Index" asp-controller="Product" asp-area="Customer" asp-route-cateID="@item.CategoryId">
			<span><img src="@item.CategoryImg" width="30px" /></span>
			<span class="menu-title">@item.CategoryName</span>
		</a>
	</li>
}
