@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="row">
    <div class="col-md-8 offset-2 sign_up_form">
        <form id="registerForm" class="row" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1>Create A New Account</h1>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

         

            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Email" class="form-control"  aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Password" class="form-control"  aria-required="true" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.ConfirmPassword" class="form-control"  aria-required="true" />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.FullName" class="form-control"  aria-required="true" />
                <label asp-for="Input.FullName" class="form-label"></label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Address" class="form-control"  aria-required="true" />
                <label asp-for="Input.Address" class="form-label"></label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.City" class="form-control"  aria-required="true" />
                <label asp-for="Input.City" class="form-label"></label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Country" class="form-control"  aria-required="true" />
                <label asp-for="Input.Country" class="form-label"></label>
                <span asp-validation-for="Input.Country" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.PhoneNumber" class="form-control"  aria-required="true" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-log btn-thm">Register</button>
        </form>
        <div>
            <a class="nav-link btn btn-link float-end" id="login" asp-area="Identity" asp-page="/Account/Login">Back to Login</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
