@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="agriculture, bakery, ecommerce, farm, food, food shop, grocery market, natural product, organic, organic farm, organic food, organic market, organic store, shop, shopping">
<meta name="description" content="Freshen - Organic & Food Store HTML Template">
<meta name="CreativeLayers" content="ATFN">
<!-- css file -->
<link rel="stylesheet" href="~/Asset/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Asset/css/style.css">
<link rel="stylesheet" href="~/Asset/css/dashbord_navitaion.css">
<!-- Responsive stylesheet -->
<link rel="stylesheet" href="css/responsive.css">
<!-- Title -->
<title>Freshen - Organic & Food Store HTML Template</title>
<!-- Favicon -->
<link href="images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
<link href="images/favicon.ico" sizes="128x128" rel="shortcut icon" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="wrapper ovh">
 @* <div class="preloader"></div>
  <div class="popup_onload_modal">
    <!-- Modal -->
    <div class="modal fade" id="mailchimp_newslatter_popup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="mailchimp_newslatter_popup" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-7">
                <div class="p30">
                  <div class="mailchimp_widget text-center mb30">
                    <div class="icon"><span class="flaticon-email-1"></span></div>
                    <div class="details">
                      <h3 class="title">Get <span class="text-thm">25%</span> Off</h3>
                      <p class="para">Subscribe to the Molla eCommerce newsletter to receive timely updates from your favorite products.</p>
                    </div>
                  </div>
                  <div class="footer_social_widget">
                    <form class="footer_mailchimp_form mb10">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <input type="email" class="form-control" placeholder="Your Email...">
                          <button type="submit">Subscribe</button>
                        </div>
                      </div>
                    </form>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">Do not show this popup again</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5">
                <img src="~/Asset/images/banner/mailchimp-banner.jpg" alt="mailchimp-banner.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  *@

  <!-- header top -->
    <div class="header_top bgc-thm2 dn-992">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-xl-4">
          <div class="ht_contact_widget">
            <ul class="m0">
              <li class="list-inline-item"><a href="#"><span class="flaticon-phone-call mr5"></span> (+035) 527-1710-70</a></li>
              <li class="list-inline-item"><a href="#"><span class="flaticon-email mr5"></span> order@freshen.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4">
          <div class="ht_contact_widget text-center">
            <a class="text-white" href="#">Hi, Welcome to Super Market</a>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4">
          <div class="ht_language_widget text-end">
              <ul class="m0">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- header middle -->
  <div class="header_middle pt25 pb25 dn-992">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-xl-3">
          <div class="header_top_logo_home1">
            <img src="images/header-middle-logo.svg" alt="header-middle-logo.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="sign_up_modal modal fade" id="logInModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body container p60">
          <div class="row">
            <div class="col-lg-12">
              <ul class="sign_up_tab nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Register</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-content container p0" id="myTabContent">
            <div class="row mt30 tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="col-lg-12">
                <div class="login_form">
                  <form action="#">
                    <div class="mb-2 mr-sm-2">
                      <label class="form-label">Username or email address  *</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group mb5">
                      <label class="form-label">Password  *</label>
                      <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="exampleCheck2">
                      <label class="custom-control-label" for="exampleCheck2">Remember me</label>
                      <a class="btn-fpswd float-end" href="#">Lost your password?</a>
                    </div>
                    <button type="submit" class="btn btn-log btn-thm mt20">LOGIN</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="row mt30 tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="col-lg-12">
                <div class="sign_up_form">
                  <form action="#">
                    <div class="form-group">
                      <label class="form-label">Username *</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label class="form-label">Email address *</label>
                      <input type="email" class="form-control">
                    </div>
                    <div class="form-group mb20">
                      <label class="form-label">Password *</label>
                      <input type="password" class="form-control">
                    </div>
                    <p class="mb30">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy.</p>
                    <button type="submit" class="btn btn-signup btn-thm mb0">REGISTER</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Inner Page Breadcrumb -->
  <section class="inner_page_breadcrumb pt50 pb50 mt50-992">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="breadcrumb_content mt15">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a asp-area="Customer" asp-controller="Home" asp-action="Index">Back to Home</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ==================================================================================================================== -->
    <section class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </section>

  <!-- ==================================================================================================================== -->
     
<!-- Our Footer -->
  <section class="footer_one home1">
    <div class="footer_top_img"></div>
    <div class="container pb70">
      <div class="row">
        <div class="col-lg-6 col-xl-6">
          <div class="mailchimp_widget mb30-md">
            <div class="icon float-start"><span class="flaticon-email-1"></span></div>
            <div class="details">
              <h3 class="title">SIGN UP FOR NEWSLETTER</h3>
              <p class="para">Subscribe to the weekly newsletter for all the latest updates</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-5">
          <div class="footer_social_widget">
            <form class="footer_mailchimp_form">
              <div class="row align-items-center">
                <div class="col-auto">
                  <input type="email" class="form-control" placeholder="Your Email...">
                  <button type="submit">Subscribe</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row mt100">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <div class="footer_about_widget">
            <div class="logo mb40"><img src="~/Asset/images/footer-logo.svg" alt="footer-logo.svg"></div>
            <p>Collins Street West, Victoria <br> 8007, Australia.</p>
            <a href="#" class="shop_map_btn">SHOW ON MAP</a>
          </div>
          <div class="footer_social_widget mt30">
            <ul class="mb0">
              <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-3 col-xl-3">
          <div class="footer_contact_widget">
            <h4>NEED HELP</h4>
            <ul class="list-unstyled">
              <li class="text-white df"><span class="flaticon-phone-call"></span><a class="phone" href="#">00 0392 96 32</a></li>
              <li class="text-white"><a href="#">Monday - Friday : 9:00 - 20:00</a></li>
              <li class="text-white"><a href="#">Saturday: 11:00 - 14:00</a></li>
              <li class="text-white"><span class="flaticon-email"></span><a href="#">oder@freshen.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-md-2 col-lg-2 col-xl-2">
          <div class="footer_qlink_widget">
            <h4>INFORMATION</h4>
            <ul class="list-unstyled">
              <li><a href="#">Delivery Information</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Affilate</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
          <div class="footer_qlink_widget">
            <h4>ACCOUNT</h4>
            <ul class="list-unstyled">
              <li><a href="#">My account</a></li>
              <li><a href="#">Order History</a></li>
              <li><a href="#">Wishlist</a></li>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
          <div class="footer_qlink_widget">
            <h4>OUR STORES</h4>
            <ul class="list-unstyled">
              <li><a href="#">New York</a></li>
              <li><a href="#">London SF</a></li>
              <li><a href="#">Cockfosters BP</a></li>
              <li><a href="#">Los Angeles</a></li>
              <li><a href="#">Chicago</a></li>
              <li><a href="#">Las Vegas</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container pt20 pb20">
      <div class="row">
        <div class="col-md-6 col-lg-8 col-xl-9">
          <div class="copyright-widget mb15-767">
            <p>© 2021 Freshen. Made with love.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="payment_getway_widget text-end">
            <img src="~/Asset/images/resource/payment-getway.png" alt="payment-getway.png">
          </div>
        </div>
      </div>
    </div>
  </section>
  <a class="scrollToHome" href="#"><i class="fa fa-angle-up"></i></a> </div>
<!-- Wrapper End --> 
<script src="~/Asset/js/jquery-3.6.0.js"></script> 
<script src="~/Asset/js/jquery-migrate-3.0.0.min.js"></script> 
<script src="~/Asset/js/popper.min.js"></script> 
<script src="~/Asset/js/bootstrap.min.js"></script> 
<script src="~/Asset/js/jquery.mmenu.all.js"></script> 
<script src="~/Asset/js/ace-responsive-menu.js"></script> 
<script src="~/Asset/js/isotop.js"></script> 
<script src="~/Asset/js/snackbar.min.js"></script> 
<script src="~/Asset/js/simplebar.js"></script> 
<script src="~/Asset/js/parallax.js"></script> 
<script src="~/Asset/js/scrollto.js"></script> 
<script src="~/Asset/js/jquery-scrolltofixed-min.js"></script> 
<script src="~/Asset/js/jquery.counterup.js"></script> 
<script src="~/Asset/js/wow.min.js"></script> 
<script src="~/Asset/js/progressbar.js"></script> 
<script src="~/Asset/js/slider.js"></script>
<script src="~/Asset/js/timepicker.js"></script> 
<script src="~/Asset/js/wow.min.js"></script> 
<!-- Custom script for all pages --> 
<script src="~/Asset/js/script.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

