@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor



<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="agriculture, bakery, ecommerce, farm, food, food shop, grocery market, natural product, organic, organic farm, organic food, organic market, organic store, shop, shopping">
	<meta name="CreativeLayers" content="ATFN">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- css file -->
	<link rel="stylesheet" href="~/Asset/css/bootstrap.min.css">

	<link rel="stylesheet" href="~/Asset/css/style.css">

	<link rel="stylesheet" href="~/Asset/css/dashbord_navitaion.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	@*DataTable*@
	<link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
	<!-- Responsive stylesheet -->
	<link rel="stylesheet" href="~/Asset/css/responsive.css">
	<!-- Title -->
	<title>@ViewData["Title"] - SuperMarket_Client</title>
	<title>Freshen - Organic & Food Store</title>
	<!-- Favicon -->
	<link href="~/Asset/images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
	<link href="~/Asset/images/favicon.ico" sizes="128x128" rel="shortcut icon" />


</head>


<body>

	<div class="wrapper ovh">
		<div class="preloader"></div>
	
		@{
			if(this.ViewContext.RouteData.Values["controller"] != null)
			{
				var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
				if (@Context.Session.GetInt32("branchId") == null && controllerName != "Customer")
				{
												<div class="popup_onload_modal">
													@await Component.InvokeAsync("BranchList")
												</div>
												<input type="hidden" id="checkSessionBranchId" value="1" />

				}
			}
		}
							
	<div class="popup_onload_modal">
		@await Component.InvokeAsync("BranchList")
	</div>
		

		<!-- header top -->
		<div class="header_top bgc-thm2 dn-992">
			<div class="container">
				<div class="row" >
					<div class="col-lg-6 col-xl-6">
						<div class="ht_contact_widget">
							<ul class="m0">
								@if(Context.Session.GetString("branchName") != null){
									<li class="list-inline-item" style="color:white"><span class="flaticon-phone-call mr5"></span> You are ordering at @Context.Session.GetString("branchName")</li>
									<li style="color:red;" class="list-inline-item"><a href="#" style="color:red;"  class="text-white" data-toggle="modal" data-target="#selectBranch_popup" id="showModal">*Change branch</a></li>
								}
							</ul>
						</div>
					</div>
					
				
					<div class="col-lg-6 col-xl-6">
						<div class="ht_language_widget text-end">
							<ul class="m0">
								<partial name="_LoginPartial" />
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>

		

		<!-- header middle -->
		<div class="header_middle pt25 pb25 dn-992">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-xl-3">
						<div class="header_top_logo_home1">
							<a href="/">
								<img src="~/Asset/images/logoSuperMarket.png" alt="logoSuperMarket.png">
							</a>
						</div>
					</div>
					<div class="col-lg-7 col-xl-7">
						<div class="header_middle_advnc_search">
							<div class="search_form_wrapper">
								<div class="row">
									<div class="col-auto pr0">
										<div class="actegory">
											<select class="custom_select_dd" id="selectbox_alCategory">
												<option value="AllCategory">All Category</option>
												<option value="HotOffers">Hot Offers</option>
												<option value="NewArrivals">New Arrivals</option>
												<option value="DealsOfTheDay">Deals of The Day</option>
												<option value="Fruits">Fruits</option>
												<option value="Vegetables">Vegetables</option>
												<option value="Drinks">Drinks</option>
												<option value="Bakery">Bakery</option>
												<option value="Butter&Egges">Butter & Egges</option>
												<option value="Milks&Creams">Milks & Creams</option>
												<option value="Meats">Meats</option>
												<option value="Fish">Fish</option>
											</select>
										</div>
									</div>
									<div class="col-auto pr0">
										<div class="top-search">
											<form action="#" method="get" class="form-search" accept-charset="utf-8">
												<div class="box-search pre_line">
													<input class="form_control" type="text" name="search" placeholder="I'm shopping for...">
													<div class="search-suggestions">
														<div class="box-suggestions">
															<ul>
																<li>
																	<div class="thumb">
																		<img src="~/Asset/images/listing/sf1.png" alt="sf1.png">
																	</div>
																	<div class="info-product">
																		<div class="item_title">Silver Heinz Ketchup 350 ml</div>
																		<div class="price"><span class="sale">$50.00</span></div>
																	</div>
																</li>
																<li>
																	<div class="thumb">
																		<img src="~/Asset/images/listing/sf2.png" alt="sf2.png">
																	</div>
																	<div class="info-product">
																		<div class="item_title">Silver Heinz Ketchup 350 ml</div>
																		<div class="price"><span class="sale">$24.00</span></div>
																	</div>
																</li>
																<li>
																	<div class="thumb">
																		<img src="~/Asset/images/listing/sf3.png" alt="sf3.png">
																	</div>
																	<div class="info-product">
																		<div class="item_title">Silver Heinz Ketchup 350 ml</div>
																		<div class="price"><span class="sale">$90.00</span></div>
																	</div>
																</li>
															</ul>
														</div><!-- /.box-suggestions -->
													</div><!-- /.search-suggestions -->
												</div><!-- /.box-search -->
											</form><!-- /.form-search -->
										</div><!-- /.top-search -->
									</div>
									<div class="col-auto p0">
										<div class="advscrh_frm_btn">
											<button type="submit" class="btn search-btn"><span class="flaticon-search"></span></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-xl-2">
						<div class="log_fav_cart_widget">
							<div class="wrapper">
								<ul class="mb0 cart">
									<li class="list-inline-item">
										@if (SignInManager.IsSignedIn(User))
										{
											<div id="myComponentContainer">
												@await Component.InvokeAsync("CartList")
											</div>
										}

										else

										{
											<a class="cart_btn1" href="#"><span class="flaticon-shopping-cart icon"></span> </a>
										}

									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Main Header Nav -->
		<header class="header-nav menu_style_home_one main-menu">
			<!-- Ace Responsive Menu -->
			<nav class="posr">
				<div class="container posr">
					<!-- Menu Toggle btn-->
					<div class="menu-toggle">
						<button type="button" id="menu-btn">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<a href="index.html" class="navbar_brand float-start dn-md">
						<img class="logo2 img-fluid" src="~/Asset/images/header-middle-logo.svg" alt="header-middle-logo.svg">
					</a>
					<div class="posr logo1">
						<div id="mega-menu">
							<div class="btn-mega">
								<span class="pre_line"></span>
								<span class="ctr_title">ALL CATEGORIES</span>
								<i class="fa fa-angle-down icon"></i>
							</div>
							<ul class="menu">
								@await Component.InvokeAsync("CategoryList")
							</ul>
						</div>
					</div>
					<!-- Responsive Menu Structure-->
					<ul id="respMenu" class="ace-responsive-menu menu_list_custom_code wa pl330" data-menu-style="horizontal">
						<li>
							<a href="/"><span class="title">HOME</span></a>
						</li>
						<li class="megamenu_style">
							<a asp-action="Shop" asp-controller="Product" asp-area="Customer"><span class="title">SHOP</span></a>
						</li>
						<li class="megamenu_style">
							<a href="#"><span class="title">COMPARE</span></a>
						</li>
						<li>
							<a href="#"><span class="title">PAGES</span></a>
							<ul>
								<li><a asp-action="Index" asp-controller="Cart" asp-area="Customer">Your Cart</a></li>
								<li><a asp-action="Order" asp-controller="Customer" asp-area="Customer">Order History</a></li>
							</ul>
						</li>
						<li>
							<a asp-action="AboutUs" asp-controller="Customer" asp-area="Customer"><span class="title">ABOUT US</span></a>
						</li>
						<li><a asp-action="Contact" asp-controller="Home" asp-area="Customer">CONTACT</a></li>
					</ul>
					<ul id="respMenu2" class="ace-responsive-menu widget_menu_home2 wa" data-menu-style="horizontal">
						<li class="list-inline-item list_c">
							<a href="#"><span class="flaticon-phone-call vam mr7"></span> HOTLINE <span class="text-thm fw400 dn-lg">(+84) 37 340 5298</span></a>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<!-- ==================================================================================================================== -->
		<section class="container-fluid" style="padding-right:0;padding-left:0;">
			<main role="main" class="pb-3">
				<partial name="_Notification" />
				@RenderBody()
			</main>
		</section>

		<!-- ==================================================================================================================== -->
		<!-- Our Footer -->
		<section class="footer_one home1">
			<div class="footer_top_img"></div>
			<div class="container pb70">
				<div class="row">
					<div class="col-lg-6 col-xl-6">
						<div class="mailchimp_widget mb30-md">
							<div class="icon float-start"><span class="flaticon-email-1"></span></div>
							<div class="details">
								<h3 class="title">SIGN UP FOR NEWSLETTER</h3>
								<p class="para">Subscribe to the weekly newsletter for all the latest updates</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-xl-5">
						<div class="footer_social_widget">
							<form class="footer_mailchimp_form">
								<div class="row align-items-center">
									<div class="col-auto">
										<input type="email" class="form-control" placeholder="Your Email...">
										<button type="submit">Subscribe</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="row mt100">
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
						<div class="footer_about_widget">
							<div class="logo mb40">
								<a href="/">
									<img src="~/Asset/images/logoSuperMarket.png" alt="logoSuperMarket.png">
								</a>
							</div>
							<p> Cach Mang Thang Tam <br> 580, VietNam.</p>
							<a href="/Customer/StoreLocator/Index" class="shop_map_btn">SHOW ON MAP</a>
						</div>
						<div class="footer_social_widget mt30">
							<ul class="mb0">
								<li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6 col-md-5 col-lg-3 col-xl-3">
						<div class="footer_contact_widget">
							<h4>NEED HELP</h4>
							<ul class="list-unstyled">
								<li class="text-white df"><span class="flaticon-phone-call"></span><a class="phone" href="#">037 340 5298</a></li>
								<li class="text-white"><a href="#">Monday - Friday : 9:00 - 20:00</a></li>
								<li class="text-white"><a href="#">Saturday: 11:00 - 14:00</a></li>
								<li class="text-white"><span class="flaticon-email"></span><a href="#">ktkstore2022@gmail.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4 col-md-2 col-lg-2 col-xl-2">
						<div class="footer_qlink_widget">
							<h4>INFORMATION</h4>
							<ul class="list-unstyled">
								<li><a href="#">Contact</a></li>
								<li><a href="#">AboutUs</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
						<div class="footer_qlink_widget">
							<h4>ACCOUNT</h4>
							<ul class="list-unstyled">
								<li><a href="#">My account</a></li>
								<li><a href="#">Order History</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
						<div class="footer_qlink_widget">
							<h4>OUR STORES</h4>
							<ul class="list-unstyled">
								@await Component.InvokeAsync("BranchList_Footer")
							</ul>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="container pt20 pb20">
				<div class="row">
					<div class="col-md-6 col-lg-8 col-xl-9">
						<div class="copyright-widget mb15-767">
							<p>© 2022 KTK. Made with love.</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-xl-3">
						<div class="payment_getway_widget text-end">
							<img src="~/Asset/images/resource/payment-getway.png" alt="payment-getway.png">
						</div>
					</div>
				</div>
			</div>
		</section>
		<a class="scrollToHome" href="#"><i class="fa fa-angle-up"></i></a>
	</div>
	<!-- Wrapper End -->

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="~/Asset/js/jquery-3.6.0.js"></script>
	<script src="~/Asset/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="~/Asset/js/popper.min.js"></script>
	<script src="~/Asset/js/bootstrap.min.js"></script>
	<script src="~/Asset/js/jquery.mmenu.all.js"></script>
	<script src="~/Asset/js/ace-responsive-menu.js"></script>
	<script src="~/Asset/js/isotop.js"></script>
	<script src="~/Asset/js/snackbar.min.js"></script>
	<script src="~/Asset/js/simplebar.js"></script>
	<script src="~/Asset/js/parallax.js"></script>
	<script src="~/Asset/js/scrollto.js"></script>
	<script src="~/Asset/js/jquery-scrolltofixed-min.js"></script>
	<script src="~/Asset/js/jquery.counterup.js"></script>
	<script src="~/Asset/js/wow.min.js"></script>
	<script src="~/Asset/js/progressbar.js"></script>
	<script src="~/Asset/js/slider.js"></script>
	<script src="~/Asset/js/timepicker.js"></script>
	<script src="~/Asset/js/wow.min.js"></script>
	<!-- Custom script for all pages -->
	<script src="~/Asset/js/script.js"></script>
	@*<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>*@
	<script src="https://cdn.tiny.cloud/1/t0cc6iw0zgyf2cce0nwq9yqftiwgrw6obfqmb1b45t650dfj/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
	<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>



	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>