	<!-- Inner Page Breadcrumb -->
	<section class="inner_page_breadcrumb">
		<div class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="breadcrumb_content">
						<h2 class="breadcrumb_title">About us</h2>
						<ol class="breadcrumb">
					    @*<li class="breadcrumb-item"><a href="#">Home</a></li>
					    <li class="breadcrumb-item active" aria-current="page">About us</li>*@
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- Our Terms & Conditions -->
<section class="our-terms pb70">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xl-4">
				<div class="why_chose_us home1_style">
					<div><img src="~/Images/trung.jpg" width="150px" style="border-radius:10px;" alt="1.png"> </div>
					<div class="details">
						<h4 class="title">Lê Anh Trung</h4>
						<p>Student Code: 1313756</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-4">
				<div class="why_chose_us home1_style">
					<div> <img src="~/Images/khoa.jpg"lt="1.png" width="175px"style="border-radius:10px;"> </div>
					<div class="details">
						<h4 class="title">Trịnh Hoàng Đăng Khoa</h4>
						<p>Student Code: 1316194</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-4">
				<div class="why_chose_us home1_style">
					<div> <img src="~/Images/anh khang.jpg" alt="1.png" width="220px"style="border-radius:10px;"> </div>
					<div class="details">
						<h4 class="title">Nguyễn Quốc Khang</h4>
						<p>Student Code: 1313770</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>