



<div class="flex-container">

    <!-- /.card-header -->
    <div class="flex-card">
        <a asp-action="Index" asp-controller="Product" asp-area="Admin">
            <div class="manage-option">
                <i class="fa fa-archive" aria-hidden="true"></i>
            
                <p>Product Management</p>
            </div>
        </a>
    </div>



    <div class="flex-card">
        <a asp-action="Index" asp-controller="Order" asp-area="Admin">
            <div class="manage-option">
                   <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <p>Order Management</p>
            </div>
        </a>
    </div>


    <div class="flex-card">
        <a asp-action="OtherPages" asp-controller="Home" asp-area="Admin">
            <div class="manage-option">
              <i class="fa fa-list" aria-hidden="true"></i>
                <p>Others</p>
            </div>
        </a>
    </div>


    <div class="flex-card">
        <a asp-action="Report" asp-controller="Home" asp-area="Admin">
            <div class="manage-option">
     
           	<i class="fas fa-fw fa-chart-area"></i>
                <p>Report</p>
            </div>
        </a>
    </div>
</div>